

<nav class="navbar navbar-dark shadow ">
    <div class="container-fluid">
        
      <span class="navbar-brand mb-0 h1 text-light">Marvel</span>
      <button class="navbar-toggler" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <span class="navbar-toggler-icon"></span>
      </button>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Marvel</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
        <div class="modal-body">
  
          <ul class="list-group list-group-flush list">
            <li class="list-group-item" routerLink="/" >Home</li>
            <a class="list-group-item" routerLink="/character">Personagens</a>
            <li class="list-group-item" routerLink="/comics">Quadrinhos</li>
            <li class="list-group-item" routerLink="/series">Filmes</li>
          </ul>
  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  
        </div>
      </div>
    </div>
  </div>
    </div>
  </nav>
