

<nav class="navbar navbar-dark shadow ">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1 text-light">Imoveis Leonayzão</span>
      <a  routerLink="/cadastro" class="navbar-brand mb-0 h1 text-light" style="float:right ;">Cadastro</a>
      <a routerlink="/" class="mb-0 h1 text-light navbar-brand">Home</a>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Marvel</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
    </div>
  </nav>
