<body class="b" style="color: aliceblue;">
    <div class="row gx-0 ">
        <div class="col d-flex justify-content-center" >
             <h2>Marvel</h2>
        </div>
    </div>

    <div class="row gx-0 m-4">
        <div class="col-md-3">
            <h3 class="mb-4">Projeto</h3>
            <p>Este projeto foi feito com o intuito de acessar uma Api Rest
                E exibir os dados dela. Os dados exibidos nesta aplicação são os personagens 'characters'
                As histórias 'comics' e os filmes 'series'.
            </p>
     </div>
        <div class="col-md-9">
        <img src="/assets/marvel.jpg" class="img-fluid" alt="">
    </div>
 </div>

 <div class="row gx-0 m-4">
     <div class="col-md-3">
         <h3>Personagens</h3>
         <p>A pagina personagens fo feita com o intuito de mostrar alguns dos personagens listados na Api.
            Exibir Seu nome, e Sua descrição, porém muitos não possuem imagens nem descrição mas optei por 
            exibli-los da mesma forma.
         </p>
    
     </div>
     <div class="col-md-9" >
        <img src="/assets/miranhas-meme_wnva.jpg" style="height: 350px;"  class="img-fluid" alt="">
    </div>
 </div>

 <div class="row gx-0 m-4">
     <div class="col-md-3">
         <h3>Histórias</h3>
         <p> As histórias apenas foram listadas. A ideia era fazer todas as paginas parecerem uma galeria
             A pagina de histórias em especifico fiz pensando em fazer quase uma loja de compras para cada livro.
         </p>
     </div>

     <div class="col-md-9">
         <img src="/assets/livros.jpg" class="img-fluid" alt="">
     </div>
 </div>

 <div class="row gx-0 mt-4 ">
     <div class="col-md-3">
         <h3> Filmes</h3>
         <p>A pegada dos filmes foi bem similar com a a pegada das histórias, fiz um mural parecido com uma galeria
             para o usuário escolher qual deseja. Apesar de que nenhum vai para o site da compra xD
         </p>
     </div>
     <div class="col-md-9">
        <img src="/assets/filmes.jpg" class="img-fluid"  style="height: 350px" alt="">
    </div>
 </div>
</body>